<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ky.thisbookis">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.ky.thisbookis.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_book"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="com.ky.thisbookis.NoticeContentActivity"></activity>
        <activity android:name="com.ky.thisbookis.NoticeActivity" />
        <activity android:name="com.ky.thisbookis.AppInfoActivity" />
        <activity android:name="com.ky.thisbookis.DraftListActivity" />
        <activity android:name="com.ky.thisbookis.ReportActivity" />
        <activity android:name="com.ky.thisbookis.MyReportsActivity" />
        <activity android:name="com.ky.thisbookis.MyBooksActivity" />
        <activity android:name="com.ky.thisbookis.WriteReportActivity" />
        <activity android:name="com.ky.thisbookis.BookContentsActivity" />
        <activity android:name="com.ky.thisbookis.SettingAcitivty" />
        <activity
            android:name="com.ky.thisbookis.JoinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ky.thisbookis.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ky.thisbookis.LoadingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_key" />

        <activity
            android:name="com.ky.thisbookis.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>